COPY_COMMAND // The command for copying files to the remote machine
RESTART_COMMAND // The command for restarting a service on the remote machine
INSTALL_COMMAND // The command for installing something on the remote machine
